._*
.DS_Store
.nextflow/*
.nextflow.log/*
.nextflow.log.*
results*
trace.txt
.command.*
.nextflow.log
microbe_test_results
work
microbe_resources
report.html
timeline.html
*.bam*
*.md5*
*-flagstat.txt*
samplesheet_CPCT_test.csv
samplesheet_test_colo_mini.csv

