manifest {
    description = 'Nextflow pipeline for creating the NKI-Atlas of microbes'
    mainScript = 'main.nf'
    version = '0.6.1'
    //author = "Thomas W. Battaglia"
    author = "${System.getenv('USER') ?: 'unknown'}"
    //notes = "R.H. convereted this pipeline to DSL2 
    //to run on a single VM with 32 cores "
}

trace {
    overwrite = true
}

// Set default parameters
params {
  help = false
  // csv = '/home/rayanhassaine/microbe_data_test/samplesheet_microbiome_test.csv'
  csv = '/home/rhassaine/tumor-microbiome-nf/samplesheet_CPCT_test.csv'
  outdir = 'microbe_test_results'
  min_length = 50
  min_quality = 20
  krakenDB = '/home/rhassaine/tumor-microbiome-nf/microbe_resources/kraken2_humgut'
  kraken_len = 150
  confidence = 0
  min_counts = 10
  skip_kraken2 = false
  pathseqDB = '/home/rhassaine/tumor-microbiome-nf/microbe_resources/pathseq_humgut'
  phred_cutoff = 15
  blood = false
  microbe_cutoff = 30
  normalize_abundance = false
  identity_margin = 0.02
  min_score_identity = 0.9
  host_aligned = false
  min_clip_length = 60
  skip_pre_bwa = false
  print = true
  skip_pathseq = false
  tracedir = "${params.outdir}/pipeline_info"
  //sample = should this be attempted ? not sure about added value
}

// Reduce polling interval
executor {
    name = 'local'
    //name = 'google-lifesciences'
    // queueSize = 50
    // pollInterval = '100ms'
    // exitReadTimeout = '300 ms'
}

// Docker parameters
docker {
    enabled = true
    //runOptions = '-u $(id -u):$(id -g)'
}

// Process parameters for OA - reuse ?
// process {
//   errorStrategy = { task.exitStatus in [14] ? 'retry' : 'ignore' }
//   maxRetries = 5
//   withName: '.*' {
//     cpus = 32
//     //memory = 64.GB
//   }
// }

//Process parameters
process {
  errorStrategy = { task.exitStatus in [14] ? 'retry' : 'ignore' }
  maxRetries = 5
  withName: preprocess {
        executor = 'local'
        //executor = 'google-lifesciences'
        container = 'atlas-filter-image:latest'
        //machineType = 'n1-highcpu-8'
        //maxForks = 15
        cpus = 32
        memory = 64.GB
    }
  withName: kraken2 {
        executor = 'local'
        //executor = 'google-lifesciences'
        container = 'kraken2-image:latest'
        //machineType = 'n1-highmem-8'
        maxForks = 10
        cpus = 32
        memory = 64.GB
    }
  withName: pathseq {
        executor = 'local'
        //executor = 'google-lifesciences'
        container = 'gatk4-image:latest'
        //machineType = 'n1-highmem-16'
        maxForks = 20
        cpus = 32
        memory = 64.GB
    }
}

// Specify Google Lifescience processes
// google {
//     project = 'projectID'
//     region = 'europe-west4'
//     location = 'europe-west4'
//     enableRequesterPaysBuckets = true
//     lifeSciences.debug = true
//     lifeSciences.preemptible = true
//     lifeSciences.sshDaemon = false
//     lifeSciences.usePrivateAddress = true
//     lifeSciences.bootDiskSize = 15.GB
//     lifeSciences.copyImage = 'google/cloud-sdk:slim'
// }

// Capture Nextflow reports into separate directory
timeline {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}