// Include base config (global settings)
includeConfig 'conf/base.config'

// Include module-specific config (process settings)
includeConfig 'conf/modules.config'

// Include local config (environment-specific, optional)
includeConfig 'conf/local.config'

process {
    withName: '.*' {
        publishDir = [
            path: "${params.outdir}/preprocessed",
            mode: 'symlink'
        ]
    }
}