process {
    // Process parameters for OA - reuse?
    errorStrategy = { task.exitStatus in [14] ? 'retry' : 'ignore' }
    maxRetries = 5

    // Process-specific configurations
    withName: preprocess {
        executor = 'local'
        //executor = 'google-lifesciences'
        container = 'atlas-filter-image:latest'
        //machineType = 'n1-highcpu-8'
        //maxForks = 15
        cpus = 32
        memory = 64.GB
        publishDir = [
            path: "${params.outdir}/preprocessed",
            mode: params.publish_dir_mode
        ]
    }

    withName: kraken2 {
        executor = 'local'
        //executor = 'google-lifesciences'
        container = 'kraken2-image:latest'
        //machineType = 'n1-highmem-8'
        maxForks = 10
        cpus = 32
        memory = 64.GB
        publishDir = [
            path: "${params.outdir}/kraken2",
            mode: params.publish_dir_mode
        ]
    }

    withName: pathseq {
        executor = 'local'
        //executor = 'google-lifesciences'
        container = 'gatk4-image:latest'
        //machineType = 'n1-highmem-16'
        maxForks = 20
        cpus = 32
        memory = 64.GB
        publishDir = [
            path: "${params.outdir}/pathseq",
            mode: params.publish_dir_mode
        ]
    }
}

// Specify Google Lifescience processes (commented out by default)
// google {
//     project = 'projectID'
//     region = 'europe-west4'
//     location = 'europe-west4'
//     enableRequesterPaysBuckets = true
//     lifeSciences.debug = true
//     lifeSciences.preemptible = true
//     lifeSciences.sshDaemon = false
//     lifeSciences.usePrivateAddress = true
//     lifeSciences.bootDiskSize = 15.GB
//     lifeSciences.copyImage = 'google/cloud-sdk:slim'
// }